@import "../../../../themes/constants.scss";
@import "../../../../themes/mixins.scss";

.wrapper {
  display: flex;
  width: 100%;
  height: $header-height;
  align-items: center;
  background-color: var(--themed-background-primary-color);
  padding: 0 20px;
  @include shadow-bottom;
}

.icon {
  position: relative;
  align-self: center;
  top: -0.125em;
  height: 2.5em;
  width: 2.5em;
  margin-right: 20px;
  color: white;
}
