.main-text {
  font-weight: 600;
  color: var(--themed-text-primary-color);
}

.secondary-text {
  font-weight: 400;
  color: var(--themed-text-secondary-color);
}

.link-in-button,
.link-in-button:hover {
  color: var(--themed-text-primary-color);
  text-decoration: none;
}

.register-link,
.register-link:hover {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
