.switcher {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}

.light {
  background-color: transparent; // var(--themed-background-primary-color);
}

.dark {
  border: 1px solid var(--themed-background-primary-color);
}
