@import "../../themes/constants.scss";
@import "../../themes/mixins.scss";

.header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: $header-height;
  margin-bottom: 50px;
  background: white;
  @include shadow-bottom;
}

.logo {
  height: $header-height;
}

.form {
  background: white;
  border-radius: 8px;
}

.register {
  color: black;
}

.page {
  height: 100vh;
  overflow-x: hidden;
  background-color: #EEE;
}
