@import "../../../../themes/mixins.scss";

.content-wrapper {
  background-color: var(--themed-background-secondary-color);
}

.content {
  display: flex;
  justify-content: center;
  margin: 25px;
  background-color: var(--themed-background-primary-color);
  @include shadow-panel;
}
