@import "../../../../themes/constants.scss";

.sidebar {
  border: 1px solid black;
  background-color: #333;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;
  box-shadow: 0 -3px 6px grey;
}

.content-wrapper {
  background-color: var(--themed-background-secondary-color);
}

.content {
  display: flex;
  justify-content: center;
  margin: 25px;
  background-color: var(--themed-background-primary-color);
  box-shadow: 1px 1px 2px grey;
}
